/* CARRUSEL ----------------------------------------------
Cuando la pantalla es mas de 760 px de
ancho, el carrusel deja de crecer y 
cambia a modo .container */
@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}

