/* CARRUSEL ----------------------------------------------
Cuando la pantalla es mas de 760 px de
ancho, el carrusel deja de crecer y 
cambia a modo .container */
@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* El ancho máximo del carrusel */
.carousel {
    max-width: 760px;
}


/* CONTENIDO ---------------------------------------------
El contenedor main tiene un padding
superior para evitar quedar detras
del navbar.
También tiene un ancho minimo, después
del cual el contenido se encoge */
#main {
    padding-top: 77px;
    min-width: 270px;
}
